.search-controls {
  margin-bottom: 24px;
}

.search-input {
  width: 250px;
  padding: 8px;
  margin-right: 12px;
}

.search-btn {
  padding: 8px 16px;
}
.search-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}